body
	margin 0
	padding 0
	background #000

video
	pointer-events: none
	width 100%
	height 100%
	position absolute
	z-index 1000

input 
	width 80%
	height 100%
	position absolute
	left 0px
	top 0px
	font-family monospace
	font-size 18px
	font-weight bold
	visibility visible
	z-index: 1002
	//padding 24px
	//padding-top -24px
	//padding-bottom 24px
	line-height 1.1em
	color transparent
	background-color transparent
	// transition between transparent and semi-transparent black on hover
	//transition color 1500ms
	-webkit-transition color 1500ms
	//-o-transition color 500ms
	//-moz-transition color ox-shadow 500ms
	//-ms-transition color 500ms
	outline none

input:hover 
	color #fff
	text-shadow #000 0px 0px 4px
	
.ban
	font-family monospace
	font-size 18px
	font-weight bold
	color transparent
	text-shadow #555 0px 0px 2px
	background-color transparent
	transition color 1500ms
	-webkit-transition color 1500ms
	-o-transition color 500ms
	-moz-transition color ox-shadow 500ms
	-ms-transition color 500ms

.ban ul
	list-style-type none
	display inline
	padding-right 0.5em

.ban:hover 
	color #AAA

.ban ul:hover
	color #AAA

.ban ul li
	list-style-type none
	display inline
	padding-right 0.5em

.ban ul li a
	color transparent
	text-shadow #555 0px 0px 2px
	
#banner 
	position absolute
	right 0px
	bottom 0px
	padding 24px
	z-index 1001